<h2>Cadastrar Vaga</h2>
<div class="card form-card">
  <div class="card-body">
    <form>
      <label>Id</label>
      <input type="text" name="id" [(ngModel)]="vaga.id" /><br />

      <label>Nome</label>
      <input type="text" name="nome" [(ngModel)]="vaga.nome" /><br />

      <label>Foto</label>
      <input type="file" name="foto" /><br />

      <label>Descrição</label>
      <input type="text" name="descricao" [(ngModel)]="vaga.descricao" /><br />

      <label>Salário</label>
      <input type="text" name="salario" [(ngModel)]="vaga.salario" /><br />

      <button type="button" (click)="cadastrar()">Cadastrar Vaga</button>
      <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
      <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>
    </form>
  </div>
</div>

<section class="lista-vagas">
  <div class="card lista-vagas-card">
    <div class="card-body">
      <h3>Lista de Vagas</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Vaga</th>
            <th>Descrição</th>
            <th>Salário</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vaga of vagas" class="vaga-row">
            <td>{{ vaga.id }}</td>
            <td>{{ vaga.nome }}</td>
            <td>{{ vaga.descricao }}</td>
            <td>R$ {{ vaga.salario }},00</td>
            <td>
              <button (click)="listarVagaUnica(vaga)" class="btn-listar">Listar</button>
              <button (click)="excluir(vaga.id)" class="btn-excluir">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="rodape"></div>
