body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f8f9fa;
}

#container {
    width: 35%;
    margin: auto;
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#btnAdicionar {
    background: #28a745;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

li button {
    background: red;
    color: white;
}